#A,
#B {
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: #eee;
  margin-right: 5px;
  margin-left: 10px;
  transform: translateY(-1.5px);
  accent-color: green;
}
#A:after {
  background-color: blueviolet;
  color: red;
}
